<!DOCTYPE html>
<html>
<head th:replace="driveTest/drive_test_layout :: head">
<meta charset="ISO-8859-1">
<title>Homepage</title>
</head>
<body>
 	<header th:replace="driveTest/drive_test_layout :: header" class="bg-dark"> </header>
 	<main>
 		<div class="container bg-white" th:fragment="main_content">
 			<div>
 				<h1 class="display-2">Ooops! [[${errorCode}]]</h1>
 				<h3 class="display-6" >Looks like you've spilled your coffee.</h3>
 				<h3 class="display-6" >[[${errorMsg}]]</h3>
 				<img class="img-fluid" alt="error image" src="/media/images/error.jpg">
 				
 			</div>
 		</div>
 	</main>
 	<footer th:replace="driveTest/drive_test_layout :: footer"></footer>
</body>
</html>