<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="col-9" th:fragment="content_board (modelData, menu)">
		<div class="border rounded bg-light text-center">
			<h2 class="display-6 m-4 pb-2 border-bottom"
				th:text="${currentModelName != null ? #strings.capitalize(currentModelName) + ' Preview' : 'All Models'}">Content
				item goes here</h2>
			<div class="col-12 px-3 mb-1 text-right" th:if="${modelData != null}">
				<a th:href="@{'/app/' +${modelData['currentModel']}}" class="btn btn-outline-secondary btn-sm">Show All</a> 
				<!-- <a	 th:href="@{'/' +${currentModelName}} + '/add-new'" class="btn btn-outline-secondary btn-sm">Add New</a> -->
			</div>
			<div class="col-12 mx-1 table-responsive" th:if="${modelData != null}">
				<table
					class="table table-sm table-bordered table-striped m-1">
					<thead class="table-dark">
						<tr>
							<th th:each="f : ${modelData['fieldNames']}" th:text="${f}">Heading
								1</th>
							<!-- 							<th>Action</th> -->
						</tr>
					</thead>
					<tbody>
						<tr th:each="data : ${modelData[''+ currentModelName]}">

							<td th:each="d : ${data.fieldData()}" th:text="${d}">Data 1</td>
							<!-- 							<td><a th:href="${data.fieldData()[0]}" -->
							<!-- 								class="link border-right px-2"> View </a> <a href="#" -->
							<!-- 								class="link border-right px-2"> Edit </a> <a href="#" -->
							<!-- 								class="link px-2"> Delete </a></td> -->
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-12" th:unless="${modelData != null}">
				<div class="row">
					<div class="col m-1 border rounded btn-outline-secondary"
						th:each="item : ${menu}">
						<a th:href="@{'/dashboard/' + ${#strings.toLowerCase(item[1])}}"
							class=""> <img class="img-fluid"
							th:src="'/media/images/' + ${#strings.toLowerCase(item[0])} +'.png'"
							th:alt="${item[0]}" />
						</a> <span class="h6 " th:text="${#strings.capitalize(item[0])}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>