<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/site.css" />
<link rel="stylesheet" href="/css/header.css" />
<script src="/lib/jquery/jquery.min.js"></script>
<!-- <script src="/lib/popper.js/cjs/popper.min.js"></script> -->
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>

<script src="/lib/jquery-validate/jquery.validate.min.js"></script>
<script
	src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<title>Insert title here</title>
</head>
<body>
	<!-- <h1>Payment Failure</h1> -->
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-white">
			<div class="container  col-12 box-shadow pb-2  borderThick-b bg-white">
				<div class="row col-12 px-0 mx-0">
    <a class="navbar-brand text-dark col-12 col-md-6 p-0 mx-0" href="#">
    
    <span class="row gx-0">
    	<span class="col-auto col-md-3 col-lg-3 ml-3 ml-md-0 mx-0 px-0">
    	<img src="/media/images/ca1.png" class="logo" alt="">
    </span>
     <span class="col-8 col-md-8 row px-0 mx-0">
     <span class="col-12 p-0 text-left logotext-primary">Ontario</span>
    <span class="col-12 p-0 text-left logotext-secondary">Ministry of Transportation</span> 
    </span>
    </span>
   
    </a>
			<span class="col-12 col-md-6 row mx-0 justify-content-md-end p-0 pt-1 pt-md-0">
			<a href="/store" class=" col-auto align-self-md-end font-weight-bold btn btn-sm btn-outline-primary mx-1">
					Visit Our Store
				</a>
				<a href="/log-out" class="col-auto  align-self-md-end btn btn-sm btn-outline-dark mx-1">
					Log-out
				</a>
				</span>	
			
			</div>
			
			</div>
		</nav>
</body>
</html>