<!DOCTYPE html>
<html lang="en">
<head th:replace="driveTest/drive_test_layout :: head">

</head>
<body>
	<header th:replace="driveTest/drive_test_layout :: header"> </header>

	<div id="breadcrumbs" class="container" th:replace="driveTest/drive_test_layout :: breadcrumbs(links)"></div>

	<div class="container p-5 bg-white" th:fragment="main_content">
		<div th:each="model : ${modelNames}" class="col-auto btn">
			<a class="btn btn-outline-secondary text-decoration-none"
				th:href="@{'/dashboard/' + ${#strings.toLowerCase(model[1])}}"
				data-bs-toggle="tooltip" data-bs-placement="bottom"
				th:title="${#strings.capitalize(model[0])}"> <img
				class="d-block" src="/media/images/image.png" width="100"
				th:alt="${model[0]}" />
				<div class="text-truncate" style="width: 100px;"
					th:text="${#strings.capitalize(model[0])}">Name</div>
			</a>
		</div>
	</div>
	<footer th:replace="driveTest/drive_test_layout :: footer" />
	<script src="/js/newsite.js"></script>
</body>
</html>