<!DOCTYPE html>
<html lang="en">
<head th:replace="driveTest/drive_test_layout :: head">

</head>
<body>
	<header th:replace="driveTest/drive_test_layout :: header"> </header>
	<div id="breadcrumbs" class="container" th:replace="driveTest/drive_test_layout :: breadcrumbs(links)"></div>
	<div class="mt-0 container mainBackground pb-5" th:fragment="main_content">
		<div class="p-5 col text-center text-white appText">DriveTest
			Application</div>
		<div class="mb-5">
			<div class="row gx-2">
				<div class="mx-auto col-6 border rounded p-3 bg-white">
					<h5>Watch Video to Prepare for G1 test</h5>
					<p>
						<iframe width="560" height="315"
							src="https://www.youtube.com/embed/01nuVspc7G4"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
							<a href="https://peeldrivingschool.com/images/Smart_Guide.pdf">Download PDF for G1</a>
					</p>


				</div>
				<div class=" mx-auto ml-1 col-4">
						<div class="col border rounded p-3 bg-white ">
							<h5>Your Quiz Attempt</h5>
							<table class="table table-bordered table-sm">
								<thead class="table-dark">
									<tr>
										<th>Date</th>
										<th>Score</th>
										<th>Result</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="attempt : ${attempts}">
										<td th:text="${#dates.format(attempt.quizDate, 'dd-MM-yyyy HH:mm')}">Jun 05, 2021</td>
										<td th:text="${attempt.result} + '%'">2/5</td>
										<td><img th:src="${attempt.result}>=80.0 ? '/media/images/checkmark.png' : '/media/images/close.png'"  alt="result" width="40"></td>
									</tr>
								</tbody>
							</table>
							<div class="row">
							<div class="col mx-auto">
							<span class="h5"><img src="/media/images/checkmark.png" alt="pass" width="40"> Pass</span>
							</div>
							<div class="col mx-auto">
							<span class="h5"><img src="/media/images/close.png" alt="fail" width="40"> Fail</span>
							</div>
							</div>
						</div>
						
						<div class="mt-5 text-right">
							<a th:href="@{/quiz}"
								class="btn btn-success btn-lg">Start
								Quiz</a>
						</div>
				</div>
			</div>
		</div>

	</div>
	<footer th:replace="driveTest/drive_test_layout :: footer" />

</body>
</html>