<!DOCTYPE html>
<html lang="en">
<head th:replace="driveTest/drive_test_layout :: head">

//initialize instance
</head>
<body>
	<header th:replace="driveTest/drive_test_layout :: header"> </header>
	<div class="container mainBackground pb-5" th:fragment="main_content">
		<div class="p-5 col text-center text-white appText">DriveTest
			Application</div>
		<div class="mb-5">
			<div class="row gx-2">
				<div class="mx-auto col-6 border rounded p-3 bg-white">
					<h5 class="new_btn">About the DriveTest Quiz</h5>
					<p>We are dedicated to providing customer service excellence and delivering high quality services to all Ontario residents who require a driver’s licence test. 

Every year, we conduct 725,000 road tests, administer 588,000 written tests, process 600,000 driver's licence applications, and answer easily over a million questions about driver licensing. Year-round, drivers of passenger and commercial vehicles visit DriveTest Centres to obtain, restore, and upgrade their licences.

At DriveTest, our team of customer service agents and certified driver examiners are highly trained to apply the policies and procedures laid out by MTO. Together with MTO and ServiceOntario, we strive to ensure that Ontario’s roads are among the safest in North America.</p>
				</div>
				<div class=" mx-auto ml-1 col-4">
						<div  class="col border rounded p-3 bg-white ">
							<h5>Your Quiz Attempt</h5>
							<table class="table table-bordered table-sm">
								<thead class="table-dark">
									<tr>
										<th>Date</th>
										<th>Score</th>
										<th>Result</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="attempt : ${attempts}">
										<td>Jun 05, 2021</td>
										<td th:text="${attempt.result}">2/5</td>
										<td><img th:src="${attempt.result}>=80.0 ? '/media/images/checkmark.png' : '/media/images/close.png'"  alt="result" width="40"></td>
									</tr>
								</tbody>
							</table>
							<div class="row">
							<div class="col mx-auto">
							<span class="h5"><img src="/media/images/checkmark.png" alt="pass" width="40"> Pass</span>
							</div>
							<div class="col mx-auto">
							<span class="h5"><img src="/media/images/close.png" alt="fail" width="40"> Fail</span>
							</div>
							</div>
						</div>
						
						<div data-intro='Start your Quiz! &#128552;' class="mt-5 text-right">
							<a th:href="@{/quiz}"
								class="btn btn-success btn-lg">Start
								Quiz</a>
						</div>
				</div>
			</div>
		</div>

	</div>
	<footer th:replace="driveTest/drive_test_layout :: footer" />
</body>
</html>