<!DOCTYPE html>
<html lang="en">
<head th:replace="driveTest/drive_test_layout :: head">

</head>
<body>
	<header th:replace="driveTest/drive_test_layout :: header"> </header>

	<div id="breadcrumbs" class="container" th:replace="driveTest/drive_test_layout :: breadcrumbs(links)"></div>

	<div class="container p-5 bg-white">
			<div class="App">
      <div id="order" class="row">
      
        <div id="orderInfo" class="col-8 m-0">
          <h2 class="text-start mb-2">Shopping Cart</h2>
          <div class="row m-0">
          <span class="text-left h-6 col">Description</span>
          <span class="text-right col">Price</span>
          </div>
          <hr>
          <div th:each="data: ${model}" class="col border m-0 p-0">
            <div class="row m-0 col">
              <div class="row  col-8 m-0 p-1">
                <div class="col-auto  p-1 ">
                  <h6 class="text-start" th:text="${data.name}">Product Name</h6>
                 <!--  <p class="text-start">Description:</p> -->
                  <!-- <form class="form-inline">
                    <p class="text-start form-group">
                      <label class="input-label">Quantity</label>
                      <input class="form-control" type="text">
                    </p>
                  </form> -->
                </div>
              </div>
              <div class="col-4 m-0  p-1 ">
                <h6 class="text-right" th:text="${data.value}">Price</h6>
              </div>
            </div>
          </div>
          <hr>
          <h5 class="text-right mb-2" th:text="'Subtotal (' + ${count} + ' Items): $' +${totalcost} + ' CAD'">Subtotal (3 Items): $1,4000.00</h5>
        </div>
        <div class="bg-secondary  rounded col-4">
          <div class="container">
            <div class="row">
              <div style="height: 100%" class="
                 col "><div id="paymentContainer"  th:data-total="${totalcost}" class="my-5 p-5
               col bg-white align-self-end rounded">
                <h5>Checkout with</h5>
                <input class="btn btn-primary d-none" type="submit">
                <script
    src="https://www.paypal.com/sdk/js?client-id=key#"> // Required. Replace YOUR_CLIENT_ID with your sandbox client ID.
  </script>

  <div id="paypal-button-container"></div>

 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
		
	</div>
	<footer th:replace="driveTest/drive_test_layout :: footer" />
	<script type="text/javascript">
	if(paypal !== undefined){
	paypal.Buttons({
	    createOrder: function(data, actions) {
	      // This function sets up the details of the transaction, including the amount and line item details.
	      return actions.order.create({
	        purchase_units: [{
	          amount: {
	        	currency_code: "USD",
	            value: $('#paymentContainer').attr("data-total")
	          }
	        }]
	      });
	    },
	    onApprove: function(data, actions) {
	      // This function captures the funds from the transaction.
	      return actions.order.capture().then(function(details) {
	        // This function shows a transaction success message to your buyer.
//	        alert('Transaction completed by ' + details.payer.name.given_name);
//	        window.location.replace("http://localhost:8080/store/");
	        $('#order').html('<div class="col  rounded  display-3"><i class="fa fa-check-circle" style="font-size:100px;color:green"></i>Payment Complete!</div>')
	      });
	    }
	  }).render('#paypal-button-container');
	  //This function displays Smart Payment Buttons on your web page.

}</script>
	<script src="/js/newsite.js"></script>
	
</body>
</html>