<!DOCTYPE html>
<html lang="en">
<head th:replace="driveTest/drive_test_layout :: head">

</head>
<body>
	<header th:replace="driveTest/drive_test_layout :: header"> </header>

	<div id="breadcrumbs" class="container" th:replace="driveTest/drive_test_layout :: breadcrumbs(links)"></div>

	<div class="container px-3 px-md-5 py-3 py-md-5 bg-white" th:fragment="main_content">
	<h5 class="col-12 text-center text-md-left px-md-0">Product List</h5>
		<div id="storeProducts" class="row m-0 p-0">
			<div class="row mx-auto col-12  col-md-9 px-md-0">
				<div th:each="product : ${storeproducts}"
					class="col-8 col-md-5 col-lg-3 p-md-1 my-2 mx-auto mx-md-1 btn btn-outline-secondary">
					<a class="text-decoration-none"
						th:href="@{'/dashboard/' + ${#strings.toLowerCase(product.name)}}"
						data-bs-toggle="tooltip" data-bs-placement="bottom"
						th:title="${#strings.capitalize(product.name)}"> <img
						class="img-fluid" th:src="${product.image_file}"  th:alt="${product.name}" />
					</a>
					<div class="text-truncate bg-dark text-white"
						th:text="${#strings.capitalize(product.name)}">Name</div>
					<div class="text-truncate">
					<span class="col-12 d-block text-center">[[${#strings.capitalize(product.price)}]]</span>
					<button class="btn btn-primary">Add to Cart</button>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3 p-md-0 ">
			<div class="col-8 col-md-12 mx-auto m-md-0 py-3 px-1 p-lg-2 text-white text-left bg-secondary rounded">
					Total: <span id="itemCount" class="text-left d-block">Number of Item</span> <span
						id="totalCost" class="text-left d-block">Total Cost</span>
				</p>
				<form class="text-center" method="get" action="/store/checkout/">
					<input type="hidden" name="product">
					<input  id="gotoCart" class="btn btn-warning" type="submit" value="Go to Cart" />
				</form>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="driveTest/drive_test_layout :: footer" />
	<script src="/js/newsite.js"></script>
</body>
</html>