<!DOCTYPE html>
<html lang="en">
<head th:replace="driveTest/drive_test_layout :: head">

</head>
<body>
	<header th:replace="driveTest/drive_test_layout :: header"> </header>

	<div id="breadcrumbs" class="container" th:replace="driveTest/drive_test_layout :: breadcrumbs(links)"></div>

	<div class="container p-5 bg-white" th:fragment="main_content">

		<div class="h2 row pl-1"
			th:text="'Detail View'">Product
			detail: Item#</div>
		<div class="mx-auto row p-2 border rounded bg-light">
			<div class="col-3 mx-auto" th:each="item : ${modelClass.formBuilder()}" th:if="${item[2]} =='file'">
				<a th:href="${modelClass.__${item[0]}__}"> <img class="img-thumbnail"
					th:alt="${modelClass.__${item[0]}__}" th:src="${modelClass.__${item[0]}__}" />
				</a>
			</div>
			<div class="col-7 ml-5 mx-auto">
				
				<table class="table table-striped table-sm">
			<tbody>
				<tr th:each="item : ${modelClass.formBuilder()}">
					<th 
						th:if="${item[2] != 'file'}" 
						th:text="${item[1]}">Product
						ID</th>
					<td 
						th:if="${item[2] != 'file'}"
						th:text="${modelClass.__${item[0]}__}">Product ID</td>
				</tr>
			</tbody>
		</table>
				
				
			</div>
		</div>
		<div class="mb-3" th:switch="${prod_status}">
			<div class="m-3 row justify-content-center" th:case="'detail'">
				<form method="post" th:object="${modelNav}"
					th:action="@{'/dashboard/' + ${modelName} + '/view/' + ${modelId}}">
					<input type="hidden" th:value="${modelId}"
						th:name="modelObjectId">
					<div class="row justify-content-center">
						<div class="col-6">
							<input type="submit"
								class="btn btn-sm btn-primary float-right mr-5" name="next"
								value="Previous"\>
						</div>
						<div class="col-6">
							<input type="submit" class="btn btn-sm btn-primary ml-5"
								name="next" value="Next"\>
						</div>
					</div>
				</form>
			</div>
			<div class="my-3 mx-1 row justify-content-center alert alert-danger"
				role="alert" th:case="'delete'">
				<form method="post"
					th:action="@{'/dashboard/' + ${modelName} + '/delete/' + ${modelId}}" class="form-inline row col">
					<input type="hidden" th:value="${modelId}"
						th:name="modelObjectId">

					<div class="col-auto pb-1 pt-1">Are you
						sure you want to delete the record above?</div>
					<div class="row justify-content-center">
						<div class="col-4">
							<input type="submit" value="YES" class="btn btn-danger btn-sm" />
						</div>
						<div class="col-4">
							<a th:href="@{'/dashboard/' + ${modelName}}" role="button" class="btn btn-primary  btn-sm">No</a>
						</div>
					</div>
				</form>
			</div>
	</div>
	</div>
	<footer th:replace="driveTest/drive_test_layout :: footer" />
	<script src="/js/newsite.js"></script>
</body>
</html>